/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600&family=Fredoka:wght@400;500&family=Josefin+Sans&family=Poppins:wght@300;400&family=Prompt&display=swap');

/* Override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Body Styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Project syles */
    font-family: 'Poppins',sans-serif;
    
    list-style-type: none;
}

/* Header */
header  {
    background-color: #001a23;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

h1 {
    font-family: 'Josefin',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #8af3ff;
}

nav a{
    text-decoration: none;
}




/* Main Content */
main {
    background-color: pink;
    /* Flex style to push th footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: yellowgreen;
}