/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600&family=Fredoka:wght@400;500&family=Poppins:wght@300;400&display=swap');

/* Override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Body Styles*/
body{
    font-family: 'Poppins',sans-serif;
}

/* Header */
header  {
    background-color: aquamarine;
}



/* Main Content */
main {
    background-color: pink;
}

/* Footer */
footer {
    background-color: yellowgreen;
}