/* Override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header  {
    background-color: aquamarine;
}

/* Main Content */
main {
    background-color: pink;
}

/* Footer */
footer {
    background-color: yellowgreen;
}